.viewerTasks {
  display: flex;
  justify-content: space-between;
  width: 39.875rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.viewerTasks span {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 2px 8px;
  border-radius: 50%;
}

.inputContainer {
  width: 39.875rem;
  height: 3.375rem;
  display: flex;
  margin: 0 auto;
  margin-top: calc(-3.375rem / 2);
  margin-bottom: 4rem;
  gap: 0.5rem;
}

.inputContainer input {
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0;
  background: var(--gray-500);
  color: var(--gray-100);
}

.inputContainer button {
  border: 0;
  font-size: 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.inputContainer button:hover {
  background: var(--blue);
}

.inputContainer button svg {
  width: 1rem;
  height: 1rem;
}

.createdTask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.createdTask strong {
  color: var(--blue);
}

.concludedTask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.concludedTask strong {
  color: var(--purple);
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 39.875rem;
  margin: 0 auto;
  border-top: 2px solid var(--gray-500);
  padding: 4rem 0;
}

.tasksContainer img {
  height: 3.375rem;
  width: 3.375rem;
  margin-bottom: 1rem;
}

.tasksContainer span,
strong {
  color: var(--gray-300);
}
